<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyRoutine">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddRoutineActivity"
            android:exported="false"
            android:label="Add Routine" />
        <activity
            android:name=".TaskActivity"
            android:exported="false"
            android:label="My Tasks" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:label="Edit Profile" />

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".DismissReceiver" />
        
        <service 
            android:name=".AlarmService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />
            
    </application>

</manifest>